/* Global Styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Oswald', sans-serif;
    line-height: 1.6;
}

/* Navigation Bar */
nav {
    background-color: transparent;
    color: white;
    padding: 15px;
    text-align: right;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: 10;
}

nav ul {
    list-style-type: none;
}

nav ul li {
    display: inline;
    margin: 0 15px;
}

nav ul li a {
    color: white;
    text-decoration: none;
    padding: 10px;
    transition: transform 0.3s ease;
}

nav ul li a:hover {
    transform: scale(1.2);
    text-decoration: underline;
}

/* Header Section */
.header {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    overflow: hidden;
    color: white;
    text-align: center;
}

.background-video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
}

.header-content h1 {
    font-size: 3rem;
    margin-bottom: 1rem;
}

.header-content p {
    font-size: 1.2rem;
}

/* Slideshow Section */
.slideshow {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f0f0f0;
}

.header-container {
    background-color: #e8f5e9;
    padding: 2rem;
    border-radius: 12px;
    border: 1px solid #c8e6c9;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
    max-width: 600px;
}

.header-container h1 {
    font-size: 2rem;
    color: #0abe1f;
    margin-bottom: 1rem;
}

.header-container p {
    font-size: 1.2rem;
    color: #555;
    line-height: 1.5;
}

/* Description Section */
.description {
    padding: 2rem 1rem;
    text-align: center;
    background-color: #f5f5f5;
    color: #333;
    font-size: 1.2rem;
    line-height: 1.6;
}

.description .container {
    max-width: 800px;
    margin: 0 auto;
}

/* General Sections */
section {
    padding: 50px;
    text-align: center;
}

section h2 {
    font-size: 2.5rem;
    margin-bottom: 20px;
}

/* Footer */
footer {
    background-color: #0abe1f;
    color: white;
    padding: 20px;
    text-align: center;
}

footer p {
    margin: 0;
}

footer ul {
    list-style-type: none;
    padding: 0;
    margin: 10px 0;
}

footer ul li {
    margin-bottom: 5px;
}



/*<------------Estilo de la sección servicios----------------*/

.servicios-section {
    background-color: #f4f4f4;
    padding: 50px 20px;
    color: #333;
    text-align: center;
}

.servicios-section h2 {
    font-size: 2.5rem;
    color: #0abe1f; /* Color de acento en los títulos */
    margin-bottom: 20px;
}

.servicios-section p {
    font-size: 1.2rem;
    max-width: 700px;
    margin: 0 auto 40px;
    line-height: 1.8;
}

.servicios-list {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.servicio {
    background-color: white;
    padding: 30px;
    margin: 15px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 300px;
    transition: transform 0.3s ease;
}

.servicio:hover {
    transform: translateY(-10px);
}

.servicio h3 {
    font-size: 1.8rem;
    color: #0abe1f;
    margin-bottom: 15px;
}

.servicio p {
    font-size: 1rem;
    line-height: 1.6;
}

@media (max-width: 768px) {
    .servicios-list {
        flex-direction: column;
        align-items: center;
    }

    .servicio {
        max-width: 100%;
    }
}

.servicio-formulario {
    background-color: white;
    padding: 30px;
    margin: 0 auto;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    max-width: 500px;
}

.servicio-formulario h3 {
    font-size: 1.8rem;
    color: #0abe1f;
    margin-bottom: 20px;
}

.form-group {
    margin-bottom: 15px;
}

.form-group label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
}

.form-group input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 1rem;
}

.mensaje-error {
    color: red;
    margin-bottom: 15px;
    display: none;
}

.btn {
    background-color: #0abe1f;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    font-size: 1rem;
    cursor: pointer;
}

.btn:hover {
    background-color: #087d13;
}

/*-----------------Estilo para la sección Compramos----------------*/
.compramos-section {
    padding: 50px 20px;
    text-align: center;
    background-color: #f8f8f8;
    color: #333;
}

.compramos-section h2 {
    font-family: 'Oswald', sans-serif;
    font-size: 2.5em;
    font-weight: 700;
    margin-bottom: 20px;
    color: #2c3e50;
}

.compramos-section p {
    font-size: 1.1em;
    color: #555;
    margin-bottom: 40px;
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
}

.categorias {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}

.categoria {
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 250px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    text-align: left;
}

.categoria:hover {
    transform: translateY(-5px);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
}

.categoria img {
    width: 100%;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    height: 150px;
    object-fit: cover;
}

.categoria h3 {
    font-family: 'Oswald', sans-serif;
    font-size: 1.8em;
    font-weight: 600;
    color: #2c3e50;
    margin: 15px;
}

.categoria p {
    font-size: 1em;
    color: #555;
    padding: 0 15px 15px;
}

.categoria a {
    text-decoration: none;
    color: inherit;
}

/*------------------Estilo para la sección Productos ----------------------*/
.productos-section {
    padding: 50px 20px;
    text-align: center;
    background-color: #f8f8f8;
    color: #333;
}

.productos-section h2 {
    font-family: 'Oswald', sans-serif;
    font-size: 2.5em;
    font-weight: 700;
    margin-bottom: 20px;
    color: #2c3e50;
}

.productos-section p {
    font-size: 1.1em;
    color: #555;
    margin-bottom: 40px;
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
}

.productos {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}

.producto {
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 250px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    text-align: left;
}

.producto:hover {
    transform: translateY(-5px);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
}

.producto img {
    width: 100%;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    height: 150px;
    object-fit: cover;
}

.producto h3 {
    font-family: 'Oswald', sans-serif;
    font-size: 1.8em;
    font-weight: 600;
    color: #2c3e50;
    margin: 15px;
}

.producto p {
    font-size: 1em;
    color: #555;
    padding: 0 15px 15px;
}

.producto a {
    text-decoration: none;
    color: inherit;
}


/*---------------------Estilo para la sección Nosotros ---------------*/
.nosotros-section {
    background-color: #f4f4f4;
    padding: 50px 20px;
    color: #333;
    text-align: center;
}

.nosotros-section h2 {
    font-size: 2.5rem;
    color: #0abe1f; /* Color de acento en los títulos */
    margin-bottom: 20px;
}

.nosotros-section p {
    font-size: 1.2rem;
    max-width: 700px;
    margin: 0 auto 40px;
    line-height: 1.8;
}

/* Estilo para Misión, Visión y Valores */
.nosotros-list {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.nosotros-item {
    background-color: white;
    padding: 30px;
    margin: 15px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 300px;
    transition: transform 0.3s ease;
    text-align: left;
}

.nosotros-item:hover {
    transform: translateY(-10px);
}

.nosotros-item h3 {
    font-size: 1.8rem;
    color: #0abe1f;
    margin-bottom: 15px;
}

.nosotros-item p {
    font-size: 1rem;
    line-height: 1.6;
}

/* Responsive Design */
@media (max-width: 768px) {
    .nosotros-list {
        flex-direction: column;
        align-items: center;
    }

    .nosotros-item {
        max-width: 100%;
    }
}

/* ------------------------Estilos para la sección de Contacto -----------------------------------*/
.contacto-section {
    padding: 50px 20px;
    text-align: center;
    background-color: #f4f4f4;
}

.contacto-section h2 {
    font-size: 2.5rem;
    color: #0abe1f;
    margin-bottom: 20px;
}

.contacto-info {
    margin-bottom: 40px;
}

.contacto-info h3 {
    font-size: 1.8rem;
    color: #333;
    margin-bottom: 15px;
}

.contacto-info p {
    font-size: 1.2em;
    color: #333;
    margin: 5px 0;
}

/* Estilos para la sección Cómo Llegar */
.como-llegar {
    background-color: #ffffff;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    max-width: 800px;
    margin: 0 auto;
    text-align: center;
}

.como-llegar h3 {
    font-size: 1.8rem;
    color: #0abe1f;
    margin-bottom: 15px;
}

.como-llegar p {
    font-size: 1.2rem;
    color: #333;
    margin-bottom: 20px;
}

.mapa-imagen {
    width: 100%;
    height: auto;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    max-width: 700px;
}

/* Responsive */
@media (max-width: 768px) {
    .contacto-section h2 {
        font-size: 2rem;
    }
    .contacto-info p, .como-llegar p {
        font-size: 1rem;
    }
    .como-llegar {
        padding: 20px;
    }
}

