{% extends 'Aplicacion1/base.html' %}

{% block title %}Inicio - Refisa{% endblock %}

{% block content %}
<!-- Sección de Inicio -->
<header class="slideshow" id="inicio">
    <div class="header-content">
        <h1>Bienvenidos a Refisa</h1>
        <p>Nos dedicamos a la compra y venta de materiales reciclables</p>
    </div>
</header>

<!-- Descripción de la empresa -->
<section class="description">
    <div class="container">
        <p class="custom-font">
            En Refisa, nos especializamos en la compra, maquilación y venta de materiales reciclables, contribuyendo activamente a un futuro más sostenible. 
            Transformamos los residuos en recursos al procesar y compactar materiales para su reutilización, ofreciendo productos como manguera corrugada 
            y rafia para amarre, además de una variedad de materiales reciclados. Nuestro compromiso es generar valor, promoviendo la economía circular 
            y cuidando del medio ambiente con cada paso que damos.
        </p>
    </div>
</section>
{% endblock %}

