{% extends 'Aplicacion1/base.html' %}

{% block title %}Nosotros - Refisa{% endblock %}

{% block content %}
<section class="nosotros-section">
    <h2>Sobre Refisa</h2>
    <p>Refisa es una empresa enfocada en la compra y venta de productos reciclables, comprometida con el medio ambiente y con el objetivo de transformar materiales usados en recursos útiles para nuevas industrias.</p>

    <div class="nosotros-list">
        <!-- Misión -->
        <div class="nosotros-item">
            <h3>Nuestra Misión</h3>
            <p>Ofrecer soluciones integrales a nuestros proveedores y clientes en la gestión de sus residuos, maximizando su valorización y destinándolos a la mejor alternativa de aprovechamiento. Aportando así, al impacto de la actividad humana en el medio ambiente en la generacion de residuos solidos urbanos.
                Ser una empresa aliada, confiable y experta en el desarrollo de soluciones vanguardistas y de calidad, para la reincorporación y valorización de los residuos solidos generando economía en los lugares que tenemos presencia, garantizando la operacion de un servicio de calidad.</p>
        </div>

        <!-- Visión -->
        <div class="nosotros-item">
            <h3>Nuestra Visión</h3>
            <p>Ser una empresa líder en el reciclaje, promoviendo prácticas sostenibles y apoyando la economía circular para un futuro más verde.</p>
        </div>

        <!-- Valores -->
        <div class="nosotros-item">
            <h3>Valores</h3>
            <p><strong>Sostenibilidad:</strong> Compromiso con el medio ambiente mediante prácticas responsables.</p>
            <p><strong>Innovación:</strong> Mejora continua en los procesos de reciclaje.</p>
            <p><strong>Calidad:</strong> Entregar materiales reciclados de alta calidad para satisfacer las necesidades de nuestros clientes.</p>
            <p><strong>Responsabilidad Social:</strong> Fomentar una cultura de reciclaje en nuestra comunidad.</p>
        </div>
    </div>
</section>
{% endblock %}
