{% extends 'Aplicacion1/base.html' %}
{% load static %}

{% block title %}Refisa-Productos{% endblock %}

{% block content %}
<section class="productos-section">
    <h2>Productos Reciclados</h2>
    <p>Estos son los materiales procesados que ofrecemos, compactados en pacas para facilitar su transporte y reutilización en nuevos procesos productivos.</p>
    
    <div class="productos">
        <div class="producto">
            <a href="{% url 'producto_detalle' 'plasticos_compactados' %}">
                <h3>Plásticos Compactados</h3>
                <img src="{% static 'images/petcompac.webp' %}" alt="Plásticos compactados en pacas">
            </a>
            <p>Plásticos procesados y compactados listos para su reutilización industrial.</p>
        </div>
        
        <div class="producto">
            <a href="{% url 'producto_detalle' 'carton_compactado' %}">
                <h3>Cartón Compactado</h3>
                <img src="{% static 'images/cartoncompac.jpg' %}" alt="Cartón compactado en pacas">
            </a>
            <p>Cartón procesado y compactado, ideal para la fabricación de nuevos productos.</p>
        </div>
        
        <!-- Producto de Papel -->
        <div class="producto">
            <a href="{% url 'producto_detalle' 'papel_compactado' %}">
                <h3>Papel Compactado</h3>
                <img src="{% static 'images/papelcompac.jpg' %}" alt="Papel archivo compactado en pacas">
            </a>
            <p>Papel reciclado y compactado, perfecto para nuevos ciclos de producción.</p>
        </div>
        
        <!-- Producto de Metales -->
        <div class="producto">
            <a href="{% url 'producto_detalle' 'metales_compactados' %}">
                <h3>Metales Compactados</h3>
                <img src="{% static 'images/metalcompac.jpg' %}" alt="Metales compactados en pacas">
            </a>
            <p>Metales reciclados y compactados, listos para fundición o reutilización.</p>
        </div>
    </div>
{% endblock %}
