{% extends 'Aplicacion1/base.html' %}

{% block title %}Servicios - Refisa{% endblock %}

{% block content %}
<section id="servicios" class="servicios-section">
    <div class="container">
        <h2>Servicios</h2>
        <p>En Refisa, ofrecemos servicios de flete para facilitar la compra y venta de materiales reciclables. Nos encargamos de recoger los materiales en el punto de origen y llevarlos hasta nuestra planta para su correcto proceso y reciclaje. Así, aseguramos una operación cómoda y eficiente para nuestros clientes.</p>
        
        <div class="servicios-list">
            <div class="servicio">
                <h3>Flete para Compradores</h3>
                <p>¿Necesitas materiales reciclables para tu industria? Nosotros te ayudamos a transportarlos hasta tu ubicación. Nuestro servicio de flete asegura un traslado seguro y confiable de los materiales reciclables que compras en Refisa.</p>
            </div>
            
            <div class="servicio">
                <h3>Flete para Vendedores</h3>
                <p>¿Tienes materiales reciclables para vender? Facilitamos el proceso recogiendo tus materiales donde los tengas, llevándolos a nuestra planta para su evaluación y procesamiento. Obtén una opción rápida y conveniente para vender tus materiales con nosotros.</p>
            </div>
            
            <div class="servicio">
                <h3>Asesoría en Manejo de Materiales</h3>
                <p>Además de los fletes, ofrecemos asesoría personalizada sobre el manejo, almacenamiento y transporte de materiales reciclables, para que optimices tu operación de reciclaje y cumplas con las normativas ambientales vigentes.</p>
            </div>
        </div>
    </div>
</section>
{% endblock %}
